@model WebChat.WebUI.ViewModels.Application.ApplicationFieldsViewModel
@{
    ViewBag.Title = "Настройка чата";
}

@section styles
    {
    @Styles.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.ChartStyles)
    @Styles.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.CustomerStyles)
}


<div id="app-selector" class="row body-content">
    @Html.Partial("~/Views/Shared/Customer/_ApplicationSelector.cshtml", Model)
</div>

<div class="well">
    <div id="usersAndChatsInfo" class="row">

    </div>

    <div id="appInfo">
        @Html.Partial("_AppInfo", Model)
    </div>

    <div id="usersOnMap" class="row">

    </div>

    <div id="usersStatistic" class="row">

    </div>

    <div id="appCharts" class="row">

    </div>
</div>






@section scripts
{
    @Scripts.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.MapsScripts)
    @Scripts.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.StatisticScripts)
    @Scripts.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.CustomerAppScripts)
}


