@model  IEnumerable<WebChat.WebUI.ViewModels.Сhat.ExternalProviderViewModel>

<div class="row enter-chat-container">
    @{
        if (Model.Any())
        {
            <div id="socialLoginList" class="btn-toolbar" role="toolbar">
                @foreach (var provider in Model)
                {
                    
                        <a class="btn external-login-form-submit btn-block btn-social @provider.ReferenceClass" id="@provider.ProviderAuthenticationType" onclick="authExternalProvider('@provider.ProviderAuthenticationType')">
                            <span class="@provider.IconClass"></span>
                            @provider.ProviderAuthenticationType
                        </a>
                    
                }
            </div>
        }
    }
</div>
