<!DOCTYPE html>
<html>
<head>
    <base href="@System.Configuration.ConfigurationManager.AppSettings["BaseUrlPath"].ToString()" />
    @Styles.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.ChatStyles)
    <meta charset="utf-8" />
</head>
<body>

    @RenderBody()

    <footer class="chat-footer" style="background-color:antiquewhite">
        <div class="col-xs-12">
            <p class="text-right" style="padding-bottom:3px;">&copy; Web Chat Apriorit</p>
        </div>
    </footer>

    @Scripts.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.ChatScripts)
    @Scripts.Render(WebChat.WebUI.WebApp.AppStart.BundleConfig.ClientChatApp)
</body>
</html>
