<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@System.Configuration.ConfigurationManager.AppSettings["BaseUrlPath"].ToString()" />
    <title>@ViewBag.Title - WebChat Application</title>
   
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderSection("styles", required: false)

    @Html.Partial("_Header")
    <div id="wrap" class="container body-content">
        <div id="main">
            @RenderBody()
            <br />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Html.Partial("_Footer")   
    <div id="modal-container">
        @RenderSection("modal", required: false)
    </div>

    <script type='text/javascript'> var __chat = { }; __chat.appId = 1; __chat.targetUrl = 'https://localhost:4443'; localStorage.setItem('webChatAppId', __chat.appId); localStorage.setItem('webChatTargetUrl', __chat.targetUrl); (function() { var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true; lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'localhost:4443/chat-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s); })(); </script>  

    </body>
</html>



