@model IEnumerable<WebChat.WebUI.ViewModels.MenuItem>

<div class="gw-sidebar">
    <div id="gw-sidebar" class="gw-sidebar">
        <div class="nano-content">
            <ul class="gw-nav gw-nav-list">
                @foreach (var menuItem in Model)
                {
                <li class="@menuItem.Class">
                    @if (menuItem.HasChildrens)
                    {
                    <ul class="gw-submenu">
                        @foreach (var children in menuItem.ChildrenItems)
                        {
                            <li class="@children.Class">
                                <a href="@children.Link"> <span class="gw-menu-text">@children.Labor</span> </a>
                            </li>
                        }
                    </ul>
                    }
                    else
                    {
                        <a href="@menuItem.Link"> <span class="gw-menu-text">@menuItem.Labor</span> </a>
                    }                    
                </li>                                
                }
            </ul>
        </div>
    </div>
</div>
