@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    @Html.Partial("_MenuPartial")
    <div style="padding-left: 0; padding-top: 0;" class="col-md-10">        
        <br />
        <div class="container">
            <div class="row">

            @foreach (var appInfo in @ViewBag.Apps)
            {

                    <div class="col-md-5 appCard">
                        <div class="row">
                            <div class="col-md-12 appUrl">
                               @appInfo.siteUrl
                            </div>
                            <div class="appShortInfoFields">
                                <div class="col-md-7 fieldTitle">Агентов</div>
                                <div class="col-md-5">@appInfo.relatedAgents.Count</div>

                                <div class="col-md-7 fieldTitle">Агентов онлайн</div>
                                <div class="col-md-5">@appInfo.relatedAgentsOnline</div>

                                <div class="col-md-7 fieldTitle">Диалогов</div>
                                <div class="col-md-5">@appInfo.appDialogsCount</div>

                                <div class="col-md-7 fieldTitle">Сообщений</div>
                                <div class="col-md-5">@appInfo.appMessagesCount</div>

                                <div class="col-md-7 fieldTitle">Самый активный агент:</div>
                                <div class="col-md-5">@appInfo.mostActiveAgentName (@appInfo.mostActiveAgentDialogsCount клиентов)</div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <div>
                                <a href="/Owner/AppScript?appId=@appInfo.appId" class="btn btn-default"><i class="fa fa-code"></i>Скрипт</a>
                                <a href="/Owner/DeleteApplication?id=@appInfo.appId" style="margin-left: 10px;" class="pull-right btn btn-danger">Удалить</a>
                                <a href="/Owner/EditApplication?id=@appInfo.appId" class="pull-right btn btn-warning">Редактировать</a>
                            </div>
                        </div>
                    </div>

            }
            </div>
            <br />
            <a class="btn btn-success" href="/Owner/AddApplication">Добавить приложение</a>
        </div>
    </div>
</div>
